/*!
 * Marp eyemono theme.
 *
 * @theme eyemono
 * @author eye_mono_rin
 */

@import 'default';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

:root {
    --text-main-color: #404040;
    --text-headline-color: #403040;
    --text-accent-color: #8340bb;
    --bg-main-color: white;
}

section {
    font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
    color: var(--text-main-color);
    font-size: 24px;
    position: relative;
}

img {
    border-radius: 8px;
}

section h1,
section h2,
section h3,
section h4 {
    color: var(--text-headline-color);
    margin: 10px 0;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
    font-weight: inherit;
    color: var(--text-accent-color);
}

section h1 {
    font-size: 150%;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

section h2 {
    font-size: 125%;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    border-bottom: solid 2px var(--text-headline-color);
}

section h3 {
    border-bottom: dashed 1px var(--text-headline-color);
    padding-bottom: 0.1rem;
}

section h4 {
    padding: 0.2rem 0.4rem;
    border-left: solid 4px var(--text-headline-color);
}

section strong {
    color: var(--text-accent-color);
    font-size: 110%;
}

section strong::before,
section strong::after {
    content: " ";
}

section::after {
    background: white;
    display: block;
    padding: 4px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

section.about-me img {
    border-radius: 50%;
    width: 400px;
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translate(0, -50%);
}

section header,
section footer {
    color: rgba(#404040, 0.75);
    width: 100%;
}

section header {
    top: 16px;
}

section footer {
    bottom: 16px;
}

section header strong {
    color: #404040;
    opacity: 0.75;
}

section.no-header header {
    display: none;
}

section.no-footer footer {
    display: none;
}

section.no-footer::after {
    display: none;
}

div.tweet {
    background: #eaf6fa;
    border: solid 4px #97bff3;
    border-radius: 16px;
    padding: 0.5rem 1rem 0 1rem;
    margin: 0rem 1rem;
    position: relative;
    opacity: 0.8;
    font-size: 80%;
}

div.tweet strong {
    color: var(--text-main-color);
}

div.tweet::before {
    content: "ひとりごと";
    color: #1a69d1;
    font-weight: 700;
    display: block;
    transform: translateX(-12px);
}

.split-v {
    display: flex;
    justify-content: center;
    align-items: center;
}

.split-v>* {
    margin-right: 1rem;
}

.split-v>*:last-child {
    margin-right: 0;
}

.split-h {
    display: flex;
    flex-direction: column;
    justify-content: center;
}